<div id="player">
  <h2> Player </h2>
  <%= label_tag :thought_value %>
  <%= text_field_tag :thought_value, 0 %>
  <h3>Hand</h3>
  <div class="hand">
      
  </div>
</div>


<hr />

<em>hidden from player</em><br>
<%= button_tag "Start Thought Generation", :id=>:generate_thought %><br>
<%= label_tag :thought_generation_rate %>
<%= text_field_tag :thought_generation_rate, 10 %>

<hr />

<div id="vision">
  <h3>Vison</h3>
  <div class="cards">

  </div>
</div>

<hr />

<div id="mind">
  <h3>Mind</h3>
  <div class="cards">
    <% @cards.each do |card| %>
      <div id="mind_card_<%= card.id %>" class="card">
        <%= card.name %>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :head do %>
<script type="text/javascript">
  var mind_cards = <%= raw @cards.to_json %>
  var vision_cards = [];
  var hand_cards = [];
  $(function () {
    init();
  });
</script>
<% end %>