<h1>Listing cards</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Thought value</th>
    <th>Shape</th>
    <th>Size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= card.name %></td>
    <td><%= card.thought_value %></td>
    <td><%= card.shape %></td>
    <td><%= card.size %></td>
    <td><%= link_to 'Show', card %></td>
    <td><%= link_to 'Edit', edit_card_path(card) %></td>
    <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_card_path %>
