<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @card.name %>
</p>

<p>
  <b>Thought value:</b>
  <%= @card.thought_value %>
</p>

<p>
  <b>Shape:</b>
  <%= @card.shape %>
</p>

<p>
  <b>Size:</b>
  <%= @card.size %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
